[package]
name = "server"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "server"
path = "src/main.rs"

[dependencies]
tokio = { version = "1.49.0", features = ["full"] }
warp = { version = "0.4.2", features = ["server"] }
